* {
    margin: 0;
    padding: 0;
    max-width: 100% !important;
}

body {
    font-family: sans-serif;
    background-color: #FFECA9;
    overflow: hidden;
}

.wrapper-love {
    position: relative;
    width: 150px;
    height: 150px;
    margin: 20% auto 0 auto;
    -webkit-animation: scaleLove .3s infinite alternate;
    animation: scaleLove .3s infinite alternate;
}

.love {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #FC427B;
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.love::before,
.love::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #FC427B;
}

.love::before {
    top: -50%;
    left: 0;
}

.love::after {
    top: 0;
    left: 50%;
}

.shadow {
    width: 325px;
    height: 76px;
    border-radius: 50%;
    margin: 5% auto;
    background: #E9DA80;
}

@-webkit-keyframes scaleLove {
    0% {
        -webkit-transform: scale(1.0);
        transform: scale(1.0);
    }

    100% {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }
}

@keyframes scaleLove {
    0% {
        -webkit-transform: scale(1.0);
        transform: scale(1.0);
    }

    100% {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }
}